@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2c2e35;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.titles::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 100%;
  background: #ee2915;
  margin: 20px 0px 0px 0px;
}

.titles__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titles__title h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.titles__more {
  cursor: pointer;
  margin: 0px 0px 0px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.titles__more:hover {
  color: #ee2915;
}

._open-desc .titles__more {
  color: #ee2915;
}

.header {
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__image-1 {
  position: absolute;
  z-index: 5;
  top: -50px;
  left: -300px;
  width: 700px;
  height: 500px;
  background: #fff;
  -webkit-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-box-shadow: 1px 36px 40px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 36px 40px 9px rgba(0, 0, 0, 0.2);
}

.header__image-2 {
  position: absolute;
  z-index: 4;
  top: -50px;
  left: -50px;
  width: 700px;
  height: 500px;
  background: #fff;
  -webkit-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-box-shadow: 1px 4px 40px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 4px 40px 9px rgba(0, 0, 0, 0.2);
}

.header__image-3 {
  position: absolute;
  z-index: 3;
  top: 250px;
  left: 200px;
  width: 600px;
  height: 300px;
  background: #ee2915;
  -webkit-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-box-shadow: 1px 4px 40px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 4px 40px 9px rgba(0, 0, 0, 0.2);
}

.header__content {
  padding: 100px 0px 20px 0px;
}

.header__main-logo {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 120px 0px;
}

.header__main-logo img {
  width: auto;
  height: 109px;
}

.header__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  margin: 0 0 0 20px;
}

.header__logo-text div {
  font-weight: 600;
  font-size: 36px;
}

.header__logo-text div span {
  color: #a6bb09;
}

.header__logo-text p {
  font-weight: 400;
  font-size: 24px;
}

.header__border {
  position: absolute;
  top: 55%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 100%;
  background: #ee2915;
}

.header__logos {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 20px 0px;
  margin: -8px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 8px;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #191618;
  max-width: 300px;
  margin: -2px -8px;
}

.header__text p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 2px 8px;
}

.top-header {
  margin: 30px 30px 30px 0px;
}

.top-header__logo {
  margin: 0px 0px 20px 0px;
}

.top-header__logo img {
  height: 60px;
}

.top-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ee2915;
  padding: 10px;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}

.top-header__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #191618;
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.footer__container {
  max-width: 1100px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 70px;
  background: #ee2915;
  margin: auto;
  -webkit-transform: perspective(250px) rotateX(-45deg);
          transform: perspective(250px) rotateX(-45deg);
}

.footer__logo img {
  width: auto;
  height: 53px;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0px;
}

.product__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 475px;
          flex: 0 1 475px;
}

.product__images {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 365px;
          flex: 0 1 365px;
  margin: 0px 50px;
}

.product__images img {
  height: auto;
  width: 100%;
}

.product__warranty {
  position: absolute;
  top: 50px;
  right: 33px;
}

.product__warranty img {
  width: 130px;
  height: auto;
}

.items-product__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.items-product__title::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 100%;
  background: #ee2915;
  margin: 10px 0px 0px 0px;
}

.items-product__subtitle {
  margin: 0px 0px 0px 25px;
}

.items-product__desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin: 0px 0px 0px 25px;
}

.items-product__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin: 0px 0px 20px 25px;
}

.items-product__diagram-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin: 0px 0px 20px 15px;
}

.items-product__image {
  position: relative;
}

.items-product__image img {
  width: 100%;
  height: auto;
}

.benefits {
  margin: 50px 0px;
}

.benefits__content {
  margin: 50px 0px 0px 0px;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -14px;
}

.benefits__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 14px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__icon {
  width: 81px;
  height: 81px;
  margin: 0px 0px 20px 0px;
}

.benefits__icon img {
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.benefits__title {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #ee2915;
  margin: 0px 0px 10px 0px;
}

.benefits__subtitle p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.benefits__subtitle p span {
  color: #ee2915;
}

.description__top-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #2c2e35;
  background: #ececed;
  text-align: center;
  padding: 5px 10px;
}

.description__tables {
  margin: 20px 0px;
}

.description__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #ee2915;
}

.description__table:last-child {
  border-bottom: none;
}

.description__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2c2e35;
  padding: 5px;
}

.description__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2c2e35;
}

.description__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80px;
          flex: 1 0 80px;
  text-align: center;
  padding: 5px;
}

.main-table {
  border-bottom: none;
}

.main-table .description__left {
  color: #ee2915;
  font-size: 20px;
}

.main-table .description__right {
  font-size: 20px;
  color: #ee2915;
}

.description {
  display: none;
}

._open-desc .description {
  display: block;
}

.description__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.description__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.description__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.description__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.description__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 15px;
}

.description__row .description__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.description__row .description__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.description__row .description__item {
  text-align: left;
}

.description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ee2915;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  padding: 5px 10px;
  min-height: 50px;
}

.description__title span {
  font-size: 16px;
}

.description__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__image img {
  width: 100%;
  height: auto;
}

.description__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.other-tables .description__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.other-tables .description__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.other-tables .description__item {
  text-align: left;
}

@media (max-width: 1240px) {
  .description__rows {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
  }

  .description__row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px;
  }

  .description__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__content {
    padding: 50px 0px 0px 0px;
  }

  .header__main-logo {
    margin: 0px 0px 60px 0px;
  }

  .top-header {
    margin: 15px 0px 0px 0px;
  }

  .product__images {
    margin: 0px 25px;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }

  .description__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .description__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .description__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0px;
  }

  .description__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0px;
  }

  .description__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 10px 0px;
  }
}

@media (max-width: 767.98px) {
  .titles::after {
    height: 10px;
    margin: 10px 0px 0px 0px;
  }

  .titles__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .titles__title h2 {
    text-align: center;
    font-size: 28px;
  }

  .titles__more {
    font-size: 20px;
    margin: 10px 0px 0px 0px;
  }

  .header__image-1 {
    left: -500px;
  }

  .header__image-2 {
    left: -300px;
  }

  .header__image-3 {
    left: -50px;
  }

  .header__main-logo img {
    height: 70px;
  }

  .header__logo-text div {
    font-size: 28px;
  }

  .header__logo-text p {
    font-size: 16px;
  }

  .header__border {
    height: 10px;
  }

  .top-header__title {
    text-align: center;
    font-size: 28px;
  }

  .product__body {
    margin: 25px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .product__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .product__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 20px 0px;
  }

  .product__warranty {
    top: 20px;
    right: 20px;
  }

  .items-product__title {
    font-size: 28px;
  }

  .items-product__title::after {
    height: 10px;
    margin: 10px 0px 0px 0px;
  }

  .items-product__desc {
    font-size: 28px;
  }

  .items-product__price {
    font-size: 28px;
  }

  .benefits__content {
    margin: 25px 0px 0px 0px;
  }

  .benefits__body {
    margin: -10px;
  }

  .benefits__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0px;
  }

  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 10px;
  }

  .benefits__icon {
    width: 61px;
    height: 61px;
    margin: 0px 0px 10px 0px;
  }

  .benefits__icon img {
    width: 61px;
    height: 61px;
  }

  .benefits__title {
    font-size: 14px;
  }

  .benefits__subtitle p {
    font-size: 12px;
  }

  .description__top-title {
    font-size: 18px;
  }

  .description__left {
    font-size: 14px;
  }

  .description__right {
    font-size: 14px;
  }

  .main-table .description__left {
    font-size: 16px;
  }

  .main-table .description__right {
    font-size: 16px;
  }

  .other-tables .description__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}

@media (max-width: 479.98px) {
  .benefits__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits__item {
    max-width: 200px;
  }

  .description__left {
    font-size: 12px;
  }

  .description__right {
    font-size: 12px;
  }

  .main-table .description__left {
    font-size: 14px;
  }

  .main-table .description__right {
    font-size: 14px;
  }

  .other-tables .description__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
}